.footer__info {
    display: flex;
    gap: 18px;
}
@media screen and (min-width: 319px) and (max-width: 767px) {     
    .footer__info {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 48px;
    }
}